<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../static/bootstrap-icons/bootstrap-icons.css" th:href="@{/bootstrap-icons/bootstrap-icons.css}" />
        <link rel="stylesheet" href="../../static/style.css" th:href="@{/style.min.css}" />
        <title>Azure FHIR Tool</title>
    </head>
    <body>
        <header class="navbar navbar-dark sticky-top bg-secondary flex-md-nowrap p-0 shadow" th:replace="fhir/fragments/top-navbar.html :: top-nav"></header>
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" th:replace="fhir/fragments/side-navbar.html :: side-nav"></nav>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">Dashboard</h1>
                    </div>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                    <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Patients</h5>
                                    <h5 class="card-subtitle mb-2"><span class="badge rounded-pill bg-primary" th:text="${patientCounts}">0</span></h5>
                                    <a href="#" th:href="@{/fhir/patients}" class="card-link">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Encounters</h5>
                                    <h5 class="card-subtitle mb-2"><span class="badge rounded-pill bg-primary" th:text="${encounterCounts}">0</span></h5>
                                    <a href="#" th:href="@{/fhir/encounters}" class="card-link">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Observations</h5>
                                    <h5 class="card-subtitle mb-2"><span class="badge rounded-pill bg-primary" th:text="${observationCounts}">0</span></h5>
                                    <a href="#" th:href="@{/fhir/observations}" class="card-link">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Diagnostic Reports</h5>
                                    <h5 class="card-subtitle mb-2"><span class="badge rounded-pill bg-primary" th:text="${diagnosticReportCounts}">0</span></h5>
                                    <a href="#" th:href="@{/fhir/diagnostic-reports}" class="card-link">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="../../static/jquery/jquery-3.6.0.slim.min.js" th:src="@{/jquery/jquery-3.6.0.slim.min.js}"></script>
        <script src="../../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>
