<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../static/bootstrap-icons/bootstrap-icons.css" th:href="@{/bootstrap-icons/bootstrap-icons.css}" />
        <link rel="stylesheet" href="../../static/style.css" th:href="@{/style.min.css}" />
        <link rel="stylesheet" type="text/css" href="../../static/DataTables/DataTables-1.12.1/css/dataTables.bootstrap5.min.css" th:href="@{/DataTables/DataTables-1.12.1/css/dataTables.bootstrap5.min.css}" />
        <link rel="stylesheet" type="text/css" href="../../static/DataTables/FixedHeader-3.2.3/css/fixedHeader.bootstrap5.min.css" th:href="@{/DataTables/FixedHeader-3.2.3/css/fixedHeader.bootstrap5.min.css}" />
        <link rel="stylesheet" type="text/css" href="../../static/DataTables/Responsive-2.3.0/css/responsive.bootstrap5.min.css" th:href="@{/DataTables/Responsive-2.3.0/css/responsive.bootstrap5.min.css}" />
        <link rel="stylesheet" type="text/css" href="../../static/DataTables/Scroller-2.0.6/css/scroller.bootstrap5.min.css" th:href="@{/DataTables/Scroller-2.0.6/css/scroller.bootstrap5.min.css}" />
        <title>Azure FHIR Tool</title>
    </head>
    <body>
        <header class="navbar navbar-dark sticky-top bg-secondary flex-md-nowrap p-0 shadow" th:replace="fhir/fragments/top-navbar.html :: top-nav"></header>
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" th:replace="fhir/fragments/side-navbar.html :: side-nav"></nav>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Patients</h2>
                    </div>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="#" th:href="@{/fhir}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Patients</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">Patient Resource on Azure FHIR Server</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-sm w-100" id="patients">
                                    <thead>
                                        <tr>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Gender</th>
                                            <th scope="col">ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">Resource Upload</div>
                        <div class="card-body">
                            <div class="card-title">Load Patient Records</div>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <p>Load patient records from a tab-separated values (tsv) file.  Map each patient record to a patient resources.</p>
                                    <form id="load_form">
                                        <div class="resource-file bg-light">
                                            <div class="file-drop-area w-100">
                                                <span class="choose-file-button">Choose files</span>
                                                <span class="file-message">or drag and drop files here</span>
                                                <input class="file-input bg-secondary" type="file" name="file" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer">
                                    <button id="load_submit_btn" class="btn btn-primary" type="submit">Load Patient Records</button>
                                </div>
                            </div>
                            <div class="mt-4" id="preview" style="display: none;">
                                <div class="card-title">Resource Upload Preview</div>
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-sm w-100" id="preview-patients">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Last Name</th>
                                                        <th scope="col">First Name</th>
                                                        <th scope="col">Gender</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <form id="upload_form" method="POST" action="patients/upload" enctype="multipart/form-data">
                                            <input type="hidden" id="upload_filename" name="filename" value="" />
                                            <button id="upload_submit_btn" class="btn btn-primary" type="submit">Upload to Azure FHIR Server</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="../../static/jquery/jquery-3.6.0.min.js" th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
        <script src="../../static/bootstrap/js/bootstrap.bundle.min.js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script src="../../static/DataTables/DataTables-1.12.1/js/jquery.dataTables.min.js" th:src="@{/DataTables/DataTables-1.12.1/js/jquery.dataTables.min.js}"></script>
        <script src="../../static/DataTables/DataTables-1.12.1/js/dataTables.bootstrap5.min.js" th:src="@{/DataTables/DataTables-1.12.1/js/dataTables.bootstrap5.min.js}"></script>
        <script src="../../static/DataTables/FixedHeader-3.2.3/js/dataTables.fixedHeader.min.js" th:src="@{/DataTables/FixedHeader-3.2.3/js/dataTables.fixedHeader.min.js}"></script>
        <script src="../../static/DataTables/Responsive-2.3.0/js/dataTables.responsive.min.js" th:src="@{/DataTables/Responsive-2.3.0/js/dataTables.responsive.min.js}"></script>
        <script src="../../static/DataTables/Responsive-2.3.0/js/responsive.bootstrap5.min.js" th:src="@{/DataTables/Responsive-2.3.0/js/responsive.bootstrap5.min.js}"></script>
        <script src="../../static/DataTables/Scroller-2.0.6/js/dataTables.scroller.min.js" th:src="@{/DataTables/Scroller-2.0.6/js/dataTables.scroller.min.js}"></script>
        <script>
            $(document).ready(function () {
                $('#load_submit_btn').prop("disabled", true);
                $('#upload_submit_btn').prop("disabled", true);

                $('#patients').DataTable({
                    pageLength: 10,
                    responsive: true,
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: 'api/patient/azure',
                        type: 'GET',
                        dataType: 'json',
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        dataSrc: 'basicPatients'
                    },
                    columns: [
                        {data: 'lastName'},
                        {data: 'firstName'},
                        {data: 'gender'},
                        {data: 'id'}
                    ],
                    columnDefs: [
                        {
                            targets: 3,
                            searchable: false,
                            orderable: false,
                            render: function (data, type, row, meta) {
                                return `<a href="Patient/${row.id}" class="a-link-plain">${row.id}</a>`;
                            }
                        }
                    ]
                });

                let file = '';
                let previewTable = $('#preview-patients').DataTable({
                    pageLength: 10,
                    responsive: true,
                    processing: true,
                    serverSide: true,
                    deferLoading: 10,
                    ajax: {
                        url: 'api/patient/file',
                        type: 'GET',
                        dataType: 'json',
                        data: function (d) {
                            d.file = file;
                        },
                        cache: false,
                        contentType: 'application/json; charset=utf-8',
                        dataSrc: function (data) {
                            $('#upload_filename').val(file);
                            $('#upload_submit_btn').prop("disabled", false);

                            return data.basicPatients;
                        }
                    },
                    columns: [
                        {data: 'lastName'},
                        {data: 'firstName'},
                        {data: 'gender'}
                    ]
                });

                $('.file-input').on('change', function () {
                    let fileName = $(this).val().split('\\').pop();

                    $(this).prev().text(fileName);
                    $("#load_submit_btn").prop("disabled", false);
                    file = fileName;
                });

                $("#load_submit_btn").click(function (evt) {
                    evt.preventDefault();

                    $("#load_submit_btn").prop("disabled", true);

                    let formData = new FormData($('#load_form')[0]);
                    $.ajax({
                        type: "POST",
                        enctype: 'multipart/form-data',
                        url: "api/patient/load",
                        data: formData,
                        processData: false,
                        contentType: false,
                        cache: false,
                        timeout: 800000,
                        success: function (data) {
                            $('#preview').show();
                            previewTable.ajax.reload();
                        },
                        error: function (e) {
                            console.log("ERROR : ", e);
                            $("#load_submit_btn").prop("disabled", false);
                        }
                    });
                });
            });
        </script>
    </body>
</html>
